body {
    display: flex;
    background-color: #4caf50;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-panel {
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.main-panel {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-info {
    width:80%;
    max-width:650px;
    background-color:#C8C8C8;
    display: flex;
    align-items: center;
    justify-content: left-start;
}

.player-info.top {
    order: 1;
}

.player-info.bottom {
    order: 3;
}

.avatar {
    width: 50px;
    height: 50px;
}

.username {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.chessBoard {
    width: 80%;
    aspect-ratio: 1 / 1;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    order: 2;
    flex: 0 0 auto;
}


.right-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* Adjust positioning as needed */
    width: 80%;
    height: 40%;
}

.timer {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    width: 80%; /* Adjust width as needed */
}

.buttons {
    display: flex;
    gap: 10px;
}

.draw-button, .resign-button {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    width:50%;
    cursor: pointer;
}

.resign-button {
    background-color: #888; /* Darker color for resign */
    color: white;
}

.draw-button:hover, .resign-button:hover {
    background-color: #bbb;
}

.resign-button:hover {
    background-color: #666;
}

.square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.coordinate {
    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
    top: 4%;
    right: 4%;
    left: auto;
}

.whiteText {
    color: #f0d9b5;
}

.blackText {
    color: #b58863;
}

.piece {
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.piece img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

#alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 176, 67);
    width: 44vw;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: xxx-large;
    font-weight: bold;
    z-index: 1000;
    display: none;
}

.promotionOption {
    border-radius: 50%;
    background-color: darkgray;
    transition: transform 0.2s;
    position: absolute;
    z-index: 1000;
}

.promotionOption:hover {
    cursor: pointer;
    border-radius: 0%;
    background-color: rgb(115, 194, 132);
    width: 100%;
}

.promotionOption img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .chessboard {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 600px) {
    .coordinate {
        font-size: 8px;
    }
}
